---
---
<!-- Refer to https://github.com/alshedivat/al-folio/blob/master/_layouts/bib.html
and 
https://github.com/Mayankm96/Mayankm96.github.io/blob/source/_layouts/bib.html -->
<div id="{{entry.key}}"  class="col three">
  <div style="clear: both;">
    <div style="">
        <img class="col bibone first" src="{{ site.data.teasers[entry.abbr].img| prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    </div>
  </div>
  <div class="col bibtwo last">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="title">{{entry.title}}</span>
      <span class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name %}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em><b>{{author.first}} {{author.last}}</b></em>
            {% else %}
              {{author.first}} {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <em><b>{{author.first}} {{author.last}}</b></em>,
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <em><b>{{author.first}} {{author.last}}</b></em>
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </span>

      <span class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>{{entry.comments}}</em>
        <br>
        <em>{{entry.booktitle}}</em>
      {% elsif entry.type == "workshop" %}
        <em>{{entry.booktitle}}</em>
        <br>
        <em>{{entry.maintitle}}</em>
      {% elsif entry.type == "preprint" %}
        <em> (Under Review) </em>
      {% endif %}
      {% if entry.type != "preprint" %}
        {% if entry.year %}
          {{entry.year}}
        {% endif %}
      {% endif %}
      </span>
    {% endif %}

    <span class="links">
    {% if entry.abstract %}
      [<a class="abstract", style="color: $pub-theme-color">Abs</a>]
    {% endif %}
    {% if entry.arxiv %}
      [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
    {% endif %}
    {% if entry.video %}
      [<a href="{{ entry.video }}" target="_blank">Video</a>]
    {% endif %}
    {% if entry.video_extra %}
      [<a href="{{ entry.video_extra }}" target="_blank">Video2</a>]
    {% endif %}
    {% if entry.webpage %}
      [<a href="{{ entry.webpage }}" target="_blank">Webpage</a>]
    {% endif %}
    {% if entry.html %}
      [<a href="{{ entry.html }}" target="_blank">Website</a>]
    {% endif %}
    {% if entry.pdf %}
      [<a href="{{ entry.pdf | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>]
    {% endif %}
    {% if entry.supp %}
      [<a href="{{ entry.supp | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
    {% endif %}
    {% if entry.supplink %}
      [<a href="{{ entry.supplink }}" target="_blank">Supp1</a>]
    {% endif %}
    {% if entry.poster %}
      [<a href="{{ entry.poster | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>]
    {% endif %}
    {% if entry.slides %}
      [<a href="{{ entry.slides | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>]
    {% endif %}
    {% if entry.code %}
      [<a href="{{ entry.code }}" target="_blank">Code</a>]
    {% endif %}
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <span class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </span>
    {% endif %}
  </div>
</div>